/*Variable*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,900|Inter:300,700,500,600|Spartan:600|Roboto+Serif:400,600");
:root {
    --black: 
  rgba(0, 0, 0, 1);
    --astronaut: 
  rgba(35, 49, 114, 1);
    --granite-gray: 
  rgba(107, 103, 104, 1);
    --venus: 
  rgba(146, 138, 151, 1);
    --quick-silver: 
  rgba(166, 166, 166, 1);
    --paarl: 
  rgba(171, 82, 50, 1);
    --mercury: 
  rgba(229, 229, 229, 1);
    --mystic: 
  rgba(234, 234, 237, 1);
    --fantasy: 
  rgba(250, 242, 240, 1);
    --romantic: 
  rgba(255, 208, 191, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-xxxs: 6px;
    --font-size-xxs: 8px;
    --font-size-m: 32px;
    --font-size-l: 48px;
    --font-size-xl: 36px;
    --font-size-xl: 64px;
    --font-size-s2: 14px;
    --font-size-m2: 16px;
    --font-size-l2: 20px;
    --font-size-xs2: 12px;
  
    --font-family-inter: "Inter";
    --font-family-poppins: "Poppins";
    --font-family-poppins-medium: "Poppins-Medium";
    --font-family-poppins-regular: "Poppins-Regular";
    --font-family-poppins-semibold: "Poppins-SemiBold";
    --font-family-roboto_serif: "Roboto Serif";
    --font-family-roboto_slab: "Roboto Slab";
    --font-family-spartan: "Spartan";
    --font-family-spartan-regular: "Spartan-Regular";
  }
  
  
  
  .robotoslab-normal-astronaut-16px {
    color: var(--astronaut);
    font-family: var(--font-family-roboto_slab);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
  }
  .inter-light-granite-gray-16px {
    color: var(--granite-gray);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-weight: 300;
    font-style: normal;
  }
  .robotoserif-semi-bold-mercury-18px {
    color: var(--mercury);
    font-family: var(--font-family-roboto_serif);
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-quick-silver-8px {
    color: var(--quick-silver);
    font-family: var(--font-family-poppins-medium);
    font-size: 8px;
    font-weight: 500;
    font-style: normal;
  }
  .spartan-semi-bold-astronaut-14px {
    color: var(--astronaut);
    font-family: var(--font-family-spartan);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
  }
  .inter-light-granite-gray-32px {
    color: var(--granite-gray);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
  }
  .poppins-semi-bold-paarl-8px {
    color: var(--paarl);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxs);
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-paarl-8px {
    color: var(--paarl);
    font-family: var(--font-family-poppins-semibold);
    font-size: 8px;
    font-weight: 600;
    font-style: normal;
  }
  .spartan-semi-bold-granite-gray-16px {
    color: var(--granite-gray);
    font-family: var(--font-family-spartan);
    font-size: var(--font-size-m2);
    font-weight: 600;
    font-style: normal;
  }
  .robotoslab-black-paarl-28px {
    color: var(--paarl);
    font-family: var(--font-family-roboto_slab);
    font-size: 28px;
    font-weight: 900;
    font-style: normal;
  }
  .poppins-medium-quick-silver-6px {
    color: var(--quick-silver);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxxs);
    font-weight: 500;
    font-style: normal;
  }
  .spartan-semi-bold-astronaut-20px {
    color: var(--astronaut);
    font-family: var(--font-family-spartan);
    font-size: var(--font-size-l2);
    font-weight: 600;
    font-style: normal;
  }
  .spartan-regular-normal-venus-12px {
    color: var(--venus);
    font-family: var(--font-family-spartan-regular);
    font-size: var(--font-size-xs2);
    font-weight: 400;
    font-style: normal;
  }
  .inter-bold-astronaut-36px {
    color: var(--astronaut);
    font-family: var(--font-family-inter);
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
  }
  .robotoslab-black-astronaut-20px {
    color: var(--astronaut);
    font-family: var(--font-family-roboto_slab);
    font-size: var(--font-size-l2);
    font-weight: 900;
    font-style: normal;
  }
  .robotoslab-black-astronaut-40px {
    color: var(--astronaut);
    font-family: var(--font-family-roboto_slab);
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
  }
  .robotoserif-normal-astronaut-22px {
    color: var(--astronaut);
    font-family: var(--font-family-roboto_serif);
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
  }
  .inter-bold-astronaut-64px {
    color: var(--astronaut);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
  }
  .poppins-normal-astronaut-12px {
    color: var(--astronaut);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs2);
    font-weight: 400;
    font-style: normal;
  }
  .spartan-semi-bold-granite-gray-12px {
    color: var(--granite-gray);
    font-family: var(--font-family-spartan);
    font-size: var(--font-size-xs2);
    font-weight: 600;
    font-style: normal;
  }
  .robotoslab-black-paarl-48px {
    color: var(--paarl);
    font-family: var(--font-family-roboto_slab);
    font-size: var(--font-size-l);
    font-weight: 900;
    font-style: normal;
  }
  .spartan-normal-venus-12px {
    color: var(--venus);
    font-family: var(--font-family-spartan);
    font-size: var(--font-size-xs2);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium-quick-silver-8px {
    color: var(--quick-silver);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxs);
    font-weight: 500;
    font-style: normal;
  }
  .inter-medium-granite-gray-16px {
    color: var(--granite-gray);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-quick-silver-6px {
    color: var(--quick-silver);
    font-family: var(--font-family-poppins-medium);
    font-size: 6px;
    font-weight: 500;
    font-style: normal;
  }
  .inter-medium-granite-gray-32px {
    color: var(--granite-gray);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-regular-normal-astronaut-12px {
    color: var(--astronaut);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-xs2);
    font-weight: 400;
    font-style: normal;
  }
.red {
    background-color: rgb(255, 196, 196);
}
.green {
    background-color: rgb(208, 255, 208);
}
.blue{
    background-color: rgb(182, 182, 255);
}
/*Global rules*/
/*1920 -->120*/

body {
    background-color: var(--fantasy);
    background-image: url(../assets/Union.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
a {
    text-decoration: none;
}
.container{
    margin: 0 9.375rem;
}
@media  (min-width:768px) {
    .container{
    margin: 0 1.375rem;
  }
}
@media  (min-width:1200px) {
  .container{
    margin: 0 4.375rem;
}
}
@media  (min-width:1600px) {
  .container{
    margin: 0 9.375rem;
}
    
}
.flex {
    display: flex;
}


/*Nav*/
nav {
  margin-top: 40px;
}
nav .flex {
    justify-content: space-between;
}
nav img {
  width: 219px;
}
nav .Links{
    display: flex;
    align-items: center;
  width: 60%;
  }
nav .Links ul {
    list-style: none;
    display: flex;
justify-content: space-evenly;
flex-grow: 1; 
}
nav .Links ul :nth-child(4) a{
  padding: 3px 7px;
  border: 2px solid;
  border-color: var(--astronaut);
  border-radius: 5px;
}
nav .Links .icon{
  flex-grow: 0.08;
justify-content: space-between;
display: flex;
}


/*Home*/
.Home{
  margin-top: 114px;
}
.Home .container{
  display: flex;
  justify-content: space-between;
}
.Home .Text_Social{

  display: flex;
  flex-direction: column;
  width: 750px;
  align-items: center;
  gap: 60px;
}
.Home .Text_Social .Text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home .Text .brown{
  margin-top: 150px;
}
.Home .brown span {
  color: var(--paarl);

}
.Home .hi-all-im-mouad {
  color: var(--astronaut);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 600;
  line-height: normal;
  position: absolute;
  text-align: center;
}
.Social{
  display: flex;
flex-direction: column;
gap: 40px;
}
.Social a {
  color: 
#e5e5e5;
  font-family: var(--font-family-roboto_serif);
  background-color: var(--paarl);
  border-radius: 10px;
  padding: 5px 35px;
  align-self: center;
}
.Home .icon {
  display: flex;
  width: 250px;
  justify-content: space-around;
  font-size: 33px;
}
  .Home .image{
    display: flex;
    justify-content: flex-end;
  
  }



/*About*/
.About {
  padding-top: 150px;
}
.About .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;

}
.About .Title {
  text-align: center;
}
.About .Title p{
  margin: 0;
}
.About .Title hr {
  width: 280px;
  color: #FFD2B7;
}
.About .Frame-1{
  display: flex;

}
.Frame-1 .who {
flex-grow: 1;
}
.Frame-1 .Personal{
flex-grow: 7;
}
.large-text {
  width: 650px;
}